<h1>Task Selected</h1>

<h2><%= @task.title %></h2>
<%= link_to "Task List", tasks_path %>
<%= link_to "Edit", edit_task_path(@task) %>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
