<h2>Title<%= @task.title %></h2>
<p>Details<%= @task.details %></p>
<p><%= @task.completed %></p>

<p><%= link_to "Delete #{task.title}",
             task_path(@task),
             method: delete,
             data: { confirm: "Are you sure?" } %></p>
